@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Coating Inspection";
}

<div class="icbaslikark coatg">

    <div class="container">
        <h1 class="isbasklk preshic">
            Coating Inspection
        </h1>
    </div>
</div>
<div class="container">
    <div class="icerikler">
        <h2>
            We are <b>NACE Certified surface inspection professionals</b> delivering comprehensive services to industrial and commercial customers across Turkiye and around the world. We provide complete coating inspection services for all industries.

        </h2>
        <p>
            A primary role of a coating inspector is to judge the conditions where a coating, paint or spray is to be applied and suggest the types of coatings that will protect materials from harsh corrosive environments. A coating inspector may also be known as a paint inspector.
       
        <h2>
            Coating Inspection - Surface Cleaning Types;
        </h2>
        <ul class="liayır">
                <li><b>SSPC-SP1 Solvent Cleaning</b> is an essential requirement and it is done before surface preparations such as SSPC-SP 10/NACE No. 2 near-white blast cleaning or SSPC-SP 5/NACE No. 1 white metal blast cleaning.
                </li>
                <li>
                    <b>Chloride Testing / Bresle Patch Method</b> - The most of the coating specification requires that chloride testing ( Bresle Bresle patch Method-ISO 8502-6) being performed before sandblasting. The soluble salt remains in metal surface even after sandblasting and can not be removed easily and cause paint failure through osmotic action and moisture absorption (formation of HCL acid) and cause metal corrosion beneath coating and finally cause paint breakdown.
                </li>
                <li>
                    <b>SSPC-SP3 Power Tool Cleaning</b> is frequently used when contamination to adjacent areas is a concern by sandblasting or is not feasible.
                </li>
                <li>
                    <b>SSPC-SP 5 White Metal Blast Cleaning (NACE No. 1) </b> is to be used to clean unpainted or painted steel surfaces prior to applying high-performance protective coating or lining systems. SSPC-SP 5/NACE No. 1 removes all visible oil, grease, dust, dirt, mill scale, rust, coating, oxides, corrosion products, and any other foreign matter on the surface.
                </li>
                <li>
                    <b>SSPC-SP 10 Near-White Metal Blast Cleaning (NACE No. 2) </b> is to be used to clean unpainted or painted steel surfaces prior to applying a new protective coating or lining systems. SSPC-SP 10/NACE No. 2 removes all dust, coating, and mill scale. The limit of staining permitted for near-white metal blast cleaning is no more than five percent of each unit area of the surface. This subject is one of the important items in coating inspection process. This is the most applicable cleaning level on industry and is an important item on coating inspection.
                </li>
                <li>
                    <b>Surface Profile Measurement by Replica Tape (Press-O-Film or testex tape) </b>  is performed after sandblasting to make sure the sandblasted surface has the required profile as indicated in the customer coating specification.
                </li>
                <li>
                    <b>Surface Dust </b>  Test is performed after air blowing on the blast-cleaned surface and is done based on procedure outlined on ISO 8502-3 to ensure all dust and grit being removed from the surface.
                </li>
                <li>
                    <b>Paint Dry Film Thickness Measurement </b>  is addressed on SSPC-PA 2 and provides information to how to average the readings and determine DFT acceptability.
                </li>


        </ul>
            <a href="mailto:info@b7inspection.com"> For more details on your specific Coating Inspection needs, please contact us( Click Here )</a>
    </div>
    


</div>