@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact";
}
<style>
    #commentForm {
        width: 500px;
    }

        #commentForm label {
            width: 250px;
        }

            #commentForm label.error, #commentForm input.submit {
                margin-left: 253px;
            }

    #signupForm {
        width: 670px;
    }

        #signupForm label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
        }

    #newsletter_topics label.error {
        display: none;
        margin-left: 103px;
    }
</style>

<div class="iletisim">
    <div class="container">
        <div class="row">
            <form class="col s12 l6 m6 iletisimForm">
                <h3>Contact Form</h3>
                <div class="input">
                    <span>Name</span>

                    <input type="text" name="Adi" class="browser-default" />
                </div>
                <div class="input">
                    <span>Phone</span>
                    <input type="text" name="gsm" class="browser-default" />
                </div>
                <div class="input">
                    <span>Mail</span>
                    <input type="text" name="Email" class="browser-default" />
                </div>
                <div class="input">
                    <span>Subject</span>
                    <input type="text" name="Konu" class="browser-default" />
                </div>
                <div class="input">
                    <span>Your Message</span>
                    <textarea name="Mesaj"></textarea>
                </div>
                <div class="input">
                    <input type="button" name="mailSend" class="mehr" value="Send" />
                    <span class="mailError"></span>
                </div>
            </form>
            <div class="col s12 m6 l6 iletisimSend">
                <img src="~/tema/images/ok.png" />
                <span>
                    Your information has been submitted. It will be checked and sent back to you as soon as possible.
                </span>
            </div>
            <div class="col s12 l6 m6">
                <div class="iletisimBilgileri">
                    <h3>Address and Location</h3>
                    <p>
                        <span><i class="fa-solid fa-location-pin"></i></span><b>Kadikoy Office:</b> Eğitim Mah. Adım Sok. Orjin İş Merkezi D:48 Kat:3 ISTANBUL/TURKIYE
                    </p>
                    <p>
                        <span><i class="fa-solid fa-phone"></i></span> +90 533 462 41 12
                    </p>
                    <p>
                        <span><i class="fa-sharp fa-solid fa-envelope"></i></span>  info@b7inception.com
                    </p>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12045.908793332643!2d29.0423118!3d40.9929274!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc02f1b2bd4180b71!2zT3JqaW4gxLDFnyBNZXJrZXpp!5e0!3m2!1str!2sde!4v1674146340242!5m2!1str!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/tema/js/jquery.validate.min.js"></script>
    <script>

        $(document).ready(function () {

            $(".iletisimSend").hide();

            $(".iletisimForm").validate({
                rules: {
                    Adi: {
                        required: true,
                        minlength: 3
                    },
                    gsm: {
                        required: true
                    },
                    Email: {
                        required: true,
                    },
                    Konu: {
                        required: true,
                        minlength: 5
                    },

                },
                messages: {
                    Adi: {
                        required: "Please Enter Your Name",
                        minlength: "Ürün adınız en az 2 karakter olmalıdır"
                    },
                    gsm: {
                        required: "Please Enter Your GSM",

                    },
                    Email: {
                        required: "Please Enter Your E-Mail",

                    },
                    Konu: {
                        required: "Please Enter Your Subject.",
                        minlength: "Your subject must be at least 5 character."
                    },
                }
            });

        })

        // validate signup form on keyup and submit
        //$(function () {
        //    $('.iletisimForm').submit(function () {
        //        if ($(this).valid()) {
        //            alert('the form is valid');
        //        }
        //    });
        //});

        $("[name='mailSend']").click(function () {

            if ($('.iletisimForm').valid()) {
                $(".mailError").html("");
                $("[name='mailSend']").attr("enabled", "false");
                $("[name='mailSend']").val("Gönderiliyor...");

                var ad = $("[name='Adi']").val();
                var email = $("[name='Email']").val();
                var gsm = $("[name='gsm']").val();
                var message = $("[name='Konu']").val();

                var formData = new FormData();
                formData.append("ad", ad);
                formData.append("email", email);
                formData.append("gsm", gsm);
                formData.append("message", message);

                fetch("/Home/MailSend", {
                    method: "POST",
                    body: formData
                })
                    .then(r => r.text())
                    .then(r => {
                        if (r == "1") {
                            $(".iletisimSend").show();
                            $(".iletisimForm").hide();
                        } else {
                            $(".mailError").html(r);
                            $("[name='mailSend']").attr("enabled", "true");
                            //$("[name='mailSend']").val("Mail Gönder");
                        }
                    })
            }


        });

    </script>
}