@{
    ViewData["Title"] = "Detaylı Expertiz";
    Layout = "_Layout";
}
<div class="pageHead dtexp">
</div>
<div class="container">
    <div class="page">
        <h1>Detaylı Expertiz</h1>
        <p>ozkinaci.com.tr üzerinden satışa sunulan her aracın satış sayfasında ekspertiz raporu yer alır. Türk Standardları Enstitüsü (TSE) onaylı ekspertiz firmaları tarafından hazırlanan ekspertiz raporlarında; bir aracın yürür aksamından boya durumuna, elektronik sisteminden iç mekan kontrollerine kadar sayısız bilgi detaylı şekilde yer alır. Böylelikle alıcılar, bir aracı satın almadan önce durumu hakkında tarafsız, güvenilir ve profesyonel bilgiye sahip olur.</p>
        <p>Dilerseniz sizde (TSE) onaylı ekspertiz firmaları tarafından istediğiniz ekspertiz firmalarında detaylı ekspertiz yaptırabilirsiniz.</p>
    </div>
</div>