@{
    ViewData["Title"] = "Finansman / Kredi";
    Layout = "_Layout";
}
<div class="pageHead fnskre">
   
</div>
<div class="container">
    <div class="page">
        <h1>Finansman / Kredi</h1>
        <p>İhtiyaçlarınız belirlenerek tüm finans kuruluşlarından size özel finansal çözümler sunar. Beğendiğiniz otomobile en uygun yoldan ve en kısa sürede sahip olabilmenizi sağlarken; kredi başvurunuzu takip edip, süreci hızla sonuçlandırırlar. Aşağıdaki kredi detay tablosundan aracınızın yaşına ve markasına göre kullanabileceğiniz kredi detayını görebilirsiniz.</p>
        <table class="fntabl">
            <thead>
                <tr>
                    <th colspan="4">BİREYSEL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yaş</td>
                    <td>Kasko Değeri</td>
                    <td>Kredi Oranı</td>
                    <td>Vade</td>
                </tr>
                <tr>
                    <td rowspan="4">1-10</td>
                    <td>0-400.000</td>
                    <td>70%</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>400.000-800.000</td>
                    <td>50%</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>800.000-1.200.000</td>
                    <td>30%</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>1.200.000-2.000.000</td>
                    <td>20%</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
        <table class="fntabl fntabl1">
            <thead>
                <tr>
                    <th colspan="4">TÜZEL VE BİREYSEL VERGİ LEVHALI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yaş</td>
                    <td>Kredi Oranı</td>
                    <td>Kredi Tutarı</td>
                    <td>Vade</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>90%</td>
                    <td rowspan="3">MAX. 300.000</td>
                    <td rowspan="3">12</td>
                </tr>
                <tr>
                    <td>2-5</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>6-10</td>
                    <td>70%</td>
                </tr>
            </tbody>
        </table>
        <br class="clearfix" />

        <p>“*BDDK kuralları gereği; bireysel olarak başvurabileceğiniz kredi oranı; kasko değeri 400.000 TL ve altında olan araçlarda bu bedelin %70’ine kadar, kasko değeri 401.000 TL ile 800.000 TL arasında olan araçlarda %50; kasko değeri 800.001 TL ile 1.200.000 TL arasında olan araçlarda %30, kasko değeri 1.200.001 TL ile 2.000.000 TL arasında olan araçlarda %20, 2.000.000 TL’yi aşan araçlarda ise da ise %0 olarak uygulanmaktadır.
             Tüzel başvurularda ise araç kasko değerinin %90'ına kadar maksimum kredi tutarı 300.000 TL, vade ise maksimum 12 ay olarak uygulanmaktadır.”</p>
    </div>
</div>
