@{
    ViewData["Title"] = "Finansman / Kredi";
    Layout = "_Layout";
}
<div class="pageHead">
    <img src="~/tema/images/finansmankredi.jpg" />
</div>
<div class="container">
    <div class="page">
        <h1>Finansman / Kredi</h1>
        <p>İhtiyaçlarınız belirlenerek tüm finans kuruluşlarından size özel finansal çözümler sunar. Beğendiğiniz otomobile en uygun yoldan ve en kısa sürede sahip olabilmenizi sağlarken; kredi başvurunuzu takip edip, süreci hızla sonuçlandırırlar. Aşağıdaki kredi detay tablosundan aracınızın yaşına ve markasına göre kullanabileceğiniz kredi detayını görebilirsiniz.</p>
        <table>
            <thead>
                <tr>
                    <th colspan="4">Bireysel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yaş</td>
                    <td>Kasko Değeri</td>
                    <td>Kredi Oranı</td>
                    <td>Vade</td>
                </tr>
                <tr>
                    <td rowspan="4">1-10</td>
                    <td>0-400.000</td>
                    <td>70%</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>400.000-800.000</td>
                    <td>50%</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>800.000-1.200.000</td>
                    <td>30%</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>1.200.000-2.000.000</td>
                    <td>20%</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th colspan="4">Tüzel ve Bireysel Vergi Levhalı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yaş</td>
                    <td>Kredi Oranı</td>
                    <td>Kredi Tutarı</td>
                    <td>Vade</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>90%</td>
                    <td rowspan="3">MAX. 300.000</td>
                    <td rowspan="3">12</td>
                </tr>
                <tr>
                    <td>2-5</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>6-10</td>
                    <td>70%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
