@{
    ViewData["Title"] = "Güvenli Alım Satım";
    Layout = "_Layout";
}
<div class="pageHead">
    <img src="~/tema/images/guvenlialimsatim.jpg" />
</div>
<div class="container">
    <div class="page">
        <h1>Güvenli Alım Satım</h1>
        <p>Özkınacı’da güvenilir alım ve satım süreçleri, müşterilerimizin istek ve ihtiyaçlarının belirlenmesiyle başlayan ve satış sonrasında da aynı şekilde müşteri memnuniyetini temel alan hizmetlerdir. Güven ve müşteri memnuniyeti odaklı olarak geliştirilen alım ve satım süreçlerinin her aşamasında kurumsal bir muhattap bulunması ve bu süreçlerin Özkınacı ayrıcalığı yaşanması anlayışıdır. Bu ayrıcalıklardan yararlanmak ve zahmetsiz bir şekilde otomobilinizi alıp satmak için bizi tercih edebilirsiniz</p>
        <strong>
            Araç Devir İşlemleri
        </strong>
        <p>Özkınacı Personelleri, satılan ve alınan tüm araçların noter, devir ve ruhsat işlemlerini detaylı bir şekilde takip eder. Uzman personelleri tarafından güvenilir bir şekilde devir tamamlanır. Hem zahmetsiz hem de hızlı bir şekilde araç devri yapmanın keyfini bizimle çıkarabilirsiniz.</p>
    </div>
</div>