@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "_Layout";
}
<div class="container">
    <div class="page">
        <h1>Hakkımızda</h1>
        <p>Temelleri 1996 yılına dayanan Özkınacı. “Sadece Distribütör Çıkışlı” Premium Kullanılmış Otomobil alım-satım hizmeti veren otomobil şirketidir.</p>
        <p>Sahip olduğu değerlerin tamamını “müşteri memnuniyeti” merkezine koyan Özkınacı en iyi otomobillerini, markalara yakışacak hizmet kalitesi ile müşterileri ile buluşturmayı hedeflemiştir.</p>


        <b>Misyonumuz</b><br />
        <p>Kurumsal olarak Türkiye’deki Kullanılmış Premium Araç Pazarında alım-satım yaparak müşterilerimizin beklentilerini en üst düzeyde karşılamak.</p>

        <b>
            Vizyonumuz
        </b><br />
        <p>Temsil ettiği ve hizmet verdiği araçlara yakışır düzeyde hizmet kalitesi ile Türkiye’de Premium Araç Segment’inin En Büyük oyuncularından olmak.</p>

        <b>
            Değerlerimiz
        </b><br />
        •	Kurum ve kişilere en üst kalitede hizmet sunmak,<br />
        •	Kurumsal kültürümüzün temelinde yatan, müşterilerimizle yakın çalışarak güvenlerini kazanmak ve işlerinin bir parçası olmak,<br />
        •	Müşterilerimize yüksek standartlarda çözüm önerilerini sunmak,<br />
        •	Sorunlara yaklaşımı ve yaratıcı çözüm teknikleri ile çözüm odaklı olmak,<br />
        •	Yüksek disiplin ve iş ahlakı ile süratli çalışarak zamanında hizmet vermek<br />
        •	Müşteri odaklı, beklentilerin ötesinde yüksek kaliteli hizmet üretmek ve sunmak,<br />
        Ana değerlerimizdir.


    </div>
</div>