@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container">
    <div class="ustslide">
        <div class="slide1 slideS animate__fadeIn animate__animated animate__fadeOut" id="slideByc">
            <div class="container slideText animate__fadeInUp animate__animated animate__fadeOutDown">
                <span class="sBaslik">
                    <span class="normal">ARACINIZI</span>
                    <span class="buyuk">DEĞERİNDE</span>
                    <span class="normal">SATIN</span>
                    <a href="teklifal" class="teklifAl">HEMEN TEKLİF AL</a>
                </span>
            </div>
            <ul>
                <li>
                    <img src="~/tema/images/slider/slide1.jpg">
                </li>
            </ul>
        </div>
        <div class="slide2 slideS animate__fadeIn animate__animated" id="slideByc">
            <div class="container slideText animate__fadeInUp animate__animated">
                <span class="sBaslik">
                    <span class="normal">ARACINIZI</span>
                    <span class="buyuk">DEĞERİNDE</span>
                    <span class="normal">SATIN</span>
                    <a href="teklifal" class="teklifAl">HEMEN TEKLİF AL</a>
                </span>
            </div>
            <ul>
                <li>
                    <img src="~/tema/images/slider/slide2.jpg">
                </li>
            </ul>
        </div>
        <div class="slide3 slideS animate__fadeIn animate__animated animate__fadeOut" id="slideByc">
            <div class="container slideText animate__fadeInUp animate__animated animate__fadeOutDown">
                <span class="sBaslik">
                    <span class="normal">ARACINIZI</span>
                    <span class="buyuk">DEĞERİNDE</span>
                    <span class="normal">SATIN</span>
                    <a href="teklifal" class="teklifAl">HEMEN TEKLİF AL</a>
                </span>
            </div>
            <ul>
                <li>
                    <img src="~/tema/images/slider/slide3.jpg">
                </li>
            </ul>
        </div>
        <div class="slide4 slideS animate__fadeIn animate__animated animate__fadeOut" id="slideByc">
            <div class="container slideText animate__fadeInUp animate__animated animate__fadeOutDown">
                <span class="sBaslik">
                    <span class="normal">ARACINIZI</span>
                    <span class="buyuk">DEĞERİNDE</span>
                    <span class="normal">SATIN</span>
                    <a href="teklifal" class="teklifAl">HEMEN TEKLİF AL</a>
                </span>
            </div>
            <ul>
                <li>
                    <img src="~/tema/images/slider/slide4.jpg">
                </li>
            </ul>
        </div>
        <div class="slide5 slideS animate__fadeIn animate__animated animate__fadeOut" id="slideByc">
            <div class="container slideText animate__fadeInUp animate__animated animate__fadeOutDown">
                <span class="sBaslik">
                    <span class="normal">ARACINIZI</span>
                    <span class="buyuk">DEĞERİNDE</span>
                    <span class="normal">SATIN</span>
                    <a href="teklifal" class="teklifAl">HEMEN TEKLİF AL</a>
                </span>
            </div>
            <ul>
                <li>
                    <img src="~/tema/images/slider/slide5.jpg">
                </li>
            </ul>
        </div>    <div class="slide6 slideS animate__fadeIn animate__animated animate__fadeOut" id="slideByc">
            <div class="container slideText animate__fadeInUp animate__animated animate__fadeOutDown">
                <span class="sBaslik">
                    <span class="normal">ARACINIZI</span>
                    <span class="buyuk">DEĞERİNDE</span>
                    <span class="normal">SATIN</span>
                    <a href="teklifal" class="teklifAl">HEMEN TEKLİF AL</a>
                </span>
            </div>
            <ul>
                <li>
                    <img src="~/tema/images/slider/slide6.jpg">
                </li>
            </ul>
        </div>
        <div class="slideNavByc">
            <div class="container relativeDiv">
                <div id="geri"><span><i class="arrows left"></i></span></div>
                <ul>
                    <li id="1"><span class="aktifLi"></span></li>
                    <li id="2"><span class=""></span></li>
                    <li id="3"><span class=""></span></li>
                    <li id="4"><span class=""></span></li>
                    <li id="5"><span class=""></span></li>
                    <li id="6"><span class=""></span></li>
                </ul>
                <div id="ileri"><span><i class="arrows right"></i></span></div>
            </div>
        </div>
    </div>
</div>
<div class="anasyfKutular">
    <div class="container">
        <div class="owl-carousel owl-theme">
            <a href="~/otomobil-degerleme" class="item">
                <div class="kutu">
                    <div class="iconKutu">
                        <span class="icon-deger"></span>
                    </div>
                    <div class="kutuDetay">
                        <span>Otomobil Değerleme</span>
                        <p>Aracınızı “Değerinde Satmanın” Güvenilir Yolu.</p>
                        <span class="fiyatal">Fiyat Al</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="~/finansman-kredi" class="item">
                <div class="kutu">
                    <div class="iconKutu">
                        <span class="icon-expert"></span>
                    </div>
                    <div class="kutuDetay">
                        <span>Detaylı Expertiz</span>
                        <p>Satışa sunulan her aracın satış sayfasında ekspertiz raporu yer alır.</p>
                        <span class="fiyatal">Bilgi Al</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="~/finansman-kredi" class="item">
                <div class="kutu">
                    <div class="iconKutu">
                        <span class="icon-finanz"></span>
                    </div>
                    <div class="kutuDetay">
                        <span>Finansman Kredi</span>
                        <p>İhtiyaçlarınız belirlenerek tüm finans kuruluşlarından size özel finans çözümleri sunar.</p>
                        <span class="fiyatal">Bilgi Al</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <a href="~/sigorta-islemleri" class="item">
                <div class="kutu">
                    <div class="iconKutu">
                        <span class="icon-sigorta"></span>
                    </div>
                    <div class="kutuDetay">
                        <span>Sigorta</span>
                        <p>Satın almış olduğunuz araç için, en uygun en kapsamlı poliçeler tarafınıza sunulur.</p>
                        <span class="fiyatal">Bilgi Al</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="aracAlSatBanner">
        <div class="container">
            <div class="banner">
                <div class="text">
                    <div class="textIc">
                        <a href="arac-listesi">
                            <span>Bana Uygun Araç</span>
                            <span class="buyuk">ALMAK İSTİYORUM</span>

                        </a>
                    </div>
                </div>
                <div class="text textRight">
                    <div class="textIc">
                        <a href="otomobil-degerleme">
                            <span>En İyi Fiyata Araç</span>
                            <span class="buyuk">SATMAK İSTİYORUM</span>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="title">
                <h2>Vitrin İlanları</h2>
                <hr />
            </div>
        </div>
    </div>
    <div class="vitrin">
        <div class="container">
            <div class="araclar">
                @for (int i = 0; i < 40; i++)
                {
                    <div class="arac">
                        <div class="aracFoto">
                            <img src="~/tema/images/denemearac.jpg">
                        </div>
                        <div class="aracBilgiler">
                            <div class="brand"><span class="marka">BMW</span> 2 SERİSİ</div>
                            <div class="sub-model"><a href="altmodel">216D M SPORT OTOMATIK</a></div>
                            <div class="yearKM">
                                <div class="year">2021 Model</div>
                                <div class="km">46.964 Km</div>
                            </div>
                            <div class="fuelVites">
                                <div class="fuel">Dizel</div>
                                <div class="vites">Otomatik</div>
                            </div>
                            <div class="fiyat">
                                1.564.000 ₺
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
            /*Slider*/

            $(window).scroll(function () {
                sessionStorage["scrollPosition"] = $(window).scrollTop();
            });

            $(document).ready(function () {


                $(window).trigger('resize');

                var interval = 1;
                var inter;
                var ul = $(".slideNavByc li").length;

                var timer = function () {

                    inter = setInterval(function () {

                        interval++;

                        if (ul >= interval) {

                            $("#" + interval).click();

                        } else {

                            interval = 1;

                            $("#" + interval).click();
                        }

                        $(window).scrollTop(sessionStorage["scrollPosition"]);



                    }, 11000);

                };


                //timer();

                $("#ileri").click(function () {

                    var getId = parseInt($(".aktifLi").parent("li").attr("id"));

                    getId++;

                    if (getId > 6) {

                        getId = 1;

                    }

                    interval = getId;

                    $("#" + interval.toString()).trigger("click");

                    clearInterval(inter);
                    timer();
                });

                $("#geri").click(function () {

                    var getId = parseInt($(".aktifLi").parent("li").attr("id"));

                    getId--;

                    if (getId < 1) {

                        getId = 6;

                    }

                    interval = getId;

                    $("#" + interval.toString()).trigger("click");

                    clearInterval(inter);
                    timer();
                });

                $(".slideNavByc li").click(function () {

                    $(".slideNavByc li span").removeClass("aktifLi");

                    $(this).find("span").addClass("aktifLi");

                    interval = this.id;

                    /* Slider Değiştir */
                    var slide = "slide" + interval;

                    $(".slideS").addClass("animate__animated animate__fadeOut");
                    $("." + slide).removeClass("animate__animated animate__fadeOut");
                    $("." + slide).addClass("animate__animated animate__fadeIn");

                    $(".slideS .slideText").addClass("animate__animated animate__fadeOutDown");
                    $("." + slide + " .slideText").removeClass("animate__animated animate__fadeOutDown");
                    $("." + slide + " .slideText").addClass("animate__animated animate__fadeInUp");

                    clearInterval(inter);
                    timer();

                });

                $("#1").trigger("click");



            });

            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                dots: true,
                navText: ["<i class='arrows left'></i>", "<i class='arrows right'></i>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    }
                }
            })

        </script>
    }
