@{
    ViewData["Title"] = "Kullanılmış Otomobiller";
    Layout = "_Layout";
}
<div class="container">
    <div class="page">
        <h1>Kullanılmış Otomobiller</h1>
        İçerik güncelleniyor...
    </div>
</div>