@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "LNG Plant Projects";
}
<div class="icbaslikark lngplants">

    <div class="container">
    <h1 class="isbasklk">LNG Plants</h1>
    </div>
</div>
<div class="container">
   
   
    <div class="projects">
        <img src="~/tema/images/projects/lng-tank-portovaya.jpg" />
        <h2>LNG Storage at Portovaya, Russia</h2>
        <div class="ozldisdis">
        <div class="ozldis ilk">
            <div>
                <h3>Project Owner</h3>
                <span>GAZPROM</span>
            </div>
            <div>
                <h3>EPC</h3>
                <span>LINDE AG</span>
            </div>
            <div>
                <h3>Client</h3>
                <span>RENAISSANCE HEAVY INDUSTRIES</span>
            </div>
                <div>
                    <h3>Project Scope</h3>
                    <span>TANK ERECTION</span>
                </div>
        </div>
        <div class="ozldis">
           
            <div>
                <h3>Sector</h3>
                <span>LNG PLANT</span>
            </div>
            <div>
                <h3>Design Standard</h3>
                <span>API 650 - EN 14620</span>
            </div>
            <div>
                <h3>Total Storage Capacity</h3>
                <span>1 TANK 42000 m³</span>
            </div>
            <div>
                <h3>Project State</h3>
                <span>QA&QC<br/> NDE APPLICATIONS</span>
            </div>
        </div>
        <div class="ozldis">
            
            <div>
                <h3>Type of Service</h3>
                <span>CONSULTANT & SUPERVISION<br/> QUALITY MANAGEMENT

</span>
            </div>
            <div>
                <h3>Country</h3>
                <span>RUSSIA</span>
            </div>
            <div>
                <h3>Period</h3>
                <span>Since: 2018 August<br/> Until: 2019 June</span>
            </div>
        </div>
        </div>
        <br class="clearfix" />
    </div>



</div>