@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Mining Industry Projects";
}
<div class="icbaslikark mining">

    <div class="container">
    <h1 class="isbasklk">Mining Industry Projects</h1>
    </div>
</div>
<div class="container">


    <div class="projects"><img src="~/tema/images/projects/zahrem_mining.jpg" />
        <h2>Zhairem Mining and Concentrating Complex Main Building Construction
        </h2>
        <div class="ozldisdis">
            <div class="ozldis ilk">
                <div>
                    <h3>Project Owner</h3>
                    <span>
                        Glencore International AG
                        KAZZINC
                    </span>
                </div>
                <div>
                    <h3>EPC</h3>
                    <span>
                        PRIVATE
                    </span>
                </div>
                <div>
                    <h3>Client</h3>
                    <span>RENAISSANCE HEAVY INDUSTRIES</span>
                </div>
                <div>
                    <h3>Project Scope</h3>
                    <span>
                        MAIN BUILDING CONSTRUCTION
                        EQUIPMENT, STEEL AND PIPING ERECTION AND SUPERVISION
                    </span>
                </div>
            </div>
            <div class="ozldis">

                <div>
                    <h3>Sector</h3>
                    <span>
                        MINING INDUSTRY
                    </span>
                </div>
                <div>
                    <h3>Design Standard</h3>
                    <span>
                        Kazakhstan: Technical Regulations and Standards
                    </span>
                </div>
                <div>
                    <h3>Total Storage Capacity</h3>
                    <span>
                        293.000 tons of zinc
                    </span>
                </div>
                <div>
                    <h3>Project State</h3>
                    <span>QA&QC<br /> NDE APPLICATIONS</span>
                </div>
            </div>
            <div class="ozldis">

                <div>
                    <h3>Type of Service</h3>
                    <span>
                        CONSULTANT & SUPERVISION<br /> QUALITY MANAGEMENT

                    </span>
                </div>
                <div>
                    <h3>Country</h3>
                    <span>
                        Kazakhstan
                    </span>
                </div>
                <div>
                    <h3>Period</h3>
                    <span>Since: 2019 October<br /> Until: 2020 March</span>
                </div>
            </div>
        </div>
        <br class="clearfix" />
    </div>


    <div class="projects">
        <img src="~/tema/images/projects/udokan-mine-1.jpg" />
        <h2>
            Udokan Mining and Metallurgical Plant Russia Novaya Chara
        </h2>
        <div class="ozldisdis">
        <div class="ozldis ilk">
            <div>
                <h3>Project Owner</h3>
                    <span>
                        UDOKAN MINE
                    </span>
            </div>
            <div>
                <h3>EPC</h3>
                    <span>
                        PRIVATE
                    </span>
            </div>
            <div>
                <h3>Client</h3>
                <span>RENAISSANCE HEAVY INDUSTRIES</span>
            </div>
                <div>
                    <h3>Project Scope</h3>
                    <span>
                        CONSTRUCTION<br />
                        EQUIPMENT, STEEL AND PIPING<br />ERECTION AND SUPERVISION   
                    </span>
                </div>
        </div>
        <div class="ozldis">
           
            <div>
                <h3>Sector</h3>
                    <span>
                        MINING INDUSTRY
                    </span>
            </div>
            <div>
                <h3>Design Standard</h3>
                    <span>
                     RUSSIAN: Technical Regulations and Standards
API 650 (THICKENERS)
                    </span>
            </div>
            <div>
                <h3>Total Storage Capacity</h3>
                    <span>
                        1.2 billion tonnes of ore grading 2% copper
                    </span>
            </div>
            <div>
                <h3>Project State</h3>
                <span>QA&QC<br/> NDE APPLICATIONS</span>
            </div>
        </div>
        <div class="ozldis">
            
            <div>
                <h3>Type of Service</h3>
                <span>CONSULTANT & SUPERVISION<br/> QUALITY MANAGEMENT

</span>
            </div>
            <div>
                <h3>Country</h3>
                    <span>
                        Novaya Chara, Russia</span>
            </div>
            <div>
                <h3>Period</h3>
                <span>Since: 20 June<br/> Until: 2021 December</span>
            </div>  
        </div>
        </div>
        <br class="clearfix" />
    </div>



</div>