@{
    ViewData["Title"] = "Oto Bakım Servisi";
    Layout = "_Layout";
}
<div class="pageHead otobkm">
</div>
<div class="container">
    <div class="page">
        <h1>Oto Bakım Servisi</h1>
        <p>ozkinaci.com.tr güvencesi ile satışa sunulan tüm ikinci el araçlar, satılmadan önce Araç Görünüm Yenileme Servis hizmetlerinden geçmektedir. Bu sayede, çevresel faktörlerin araç üzerindeki olumsuz etkileri minimuma indirgenmektedir. Profesyonel ekipler tarafından gerçekleştirilen bu hizmette, özel temizlik ve bakım ürünleri kullanılmaktadır.</p>
        <ul class="otobakimKutu">
            <li>
                <div class="kutu">
                    <svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg" class=""><g fill="none" fill-rule="evenodd"><path d="M41.999 18.667H9.334a2.333 2.333 0 00-2.273 2.858l5.923 25.666A2.333 2.333 0 0015.257 49h20.819c1.086 0 2.03-.75 2.273-1.809l5.924-25.666a2.333 2.333 0 00-2.274-2.858z" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11.667 18.667v-3.052a8.59 8.59 0 0116.036-4.307h5.502a6.462 6.462 0 016.462 6.461v.898M25.667 28l15.588 8.676a5.213 5.213 0 007.194-2.225h0a5.213 5.213 0 00-2.131-6.888l-3.045-1.708" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M0 0h56v56H0z"></path></g></svg>
                    <span>Araç İçi Yıkama</span>
                </div>
            </li>
            <li>
                <div class="kutu">
                    <svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg" class=""><g fill="none" fill-rule="evenodd"><path d="M9.333 45.645v-8.13A4.667 4.667 0 0114 32.85h28a4.665 4.665 0 014.667 4.666V49a2.334 2.334 0 01-2.334 2.333h-4.666A2.334 2.334 0 0137.333 49v-2.333H18.667V49a2.334 2.334 0 01-2.334 2.333h-4.666A2.334 2.334 0 019.333 49v-3.355zM14 32.849l1.927-8.246A4.67 4.67 0 0120.473 21H35.73a4.668 4.668 0 014.569 3.71L42 32.849M28 14v-2.333M19.833 10.5l-1.166 1.167M37.333 11.667L36.167 10.5M42 4.667H14M39.527 39.667H34.86M21 39.667h-4.667M42 32.667l4.667-2.334M14 32.667l-4.667-2.334" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M0 0h56v56H0z"></path></g></svg>
                    <span>Araç Dış ve Motor Yıkama</span>
                </div>
            </li>
            <li>
                <div class="kutu">
                    <svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg" class=""><g fill="none" fill-rule="evenodd"><path d="M0 0h56v56H0z"></path><path stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M19.25 26.833h-4.667M41.727 19.353l4.94-2.471M11.942 19.353L7 16.882M41.884 20.196l-2.25-9.594A4.667 4.667 0 0035.092 7H18.575a4.667 4.667 0 00-4.543 3.602l-2.249 9.594"></path><path d="M46.667 28v-1.167a7 7 0 00-7-7H14a7 7 0 00-7 7v10.5a2.333 2.333 0 002.333 2.334h5.218a2.333 2.333 0 002.333-2.334v-3.5h11.048M34.417 26.833h4.666M42 49a8.167 8.167 0 00-8.167-8.167A8.167 8.167 0 0042 32.667a8.167 8.167 0 008.167 8.166A8.167 8.167 0 0042 49z" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
                    <span>Dış Yüzey Boya Parlatıcı</span>
                </div>
            </li>
            <li>
                <div class="kutu">
                    <svg width="56" height="57" viewBox="0 0 56 57" xmlns="http://www.w3.org/2000/svg" class=""><g fill="none" fill-rule="evenodd"><g stroke-linecap="round" stroke-linejoin="round" stroke="#231F20" stroke-width="2"><path d="M26 21.666V10.833M26 41.166V30.333M29.055 22.945l7.67-7.67M15.275 36.725l7.67-7.67M30.333 26h10.833M10.833 26h10.833M29.055 29.055l7.67 7.67M15.275 15.275l7.67 7.67M41.32 10.68c8.462 8.46 8.462 22.18 0 30.64-8.46 8.462-22.18 8.462-30.64 0-8.462-8.46-8.462-22.18 0-30.64 8.46-8.462 22.18-8.462 30.64 0"></path><path d="M36.724 15.276c5.923 5.922 5.923 15.525 0 21.448s-15.526 5.923-21.449 0c-5.922-5.923-5.922-15.526 0-21.448 5.923-5.923 15.526-5.923 21.45 0"></path><path d="M29.064 22.936a4.333 4.333 0 11-6.128 6.128 4.333 4.333 0 016.128-6.128"></path></g><path d="M0 0h52v52H0z"></path><g transform="translate(24 25)"><circle fill="#F4F4F4" cx="16" cy="16" r="16"></circle><g stroke="#231F20" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M16.8 11.395l2.4 3.2a4 4 0 01-3.2 6.4h0a4 4 0 01-3.2-6.4l2.4-3.2a1 1 0 011.403-.19c.073.055.14.118.197.19z"></path><path d="M16 28a12 12 0 1112-12c0 6.627-5.373 12-12 12"></path></g></g></g></svg>
                    <span>Jant ve Lastik Temizliği</span>
                </div>
            </li>
        </ul>
    </div>
</div>