@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Pre-Shipment Inspection";
}

<div class="icbaslikark presh">

    <div class="container">
        <h1 class="isbasklk preshic">
            Pre-Shipment Inspection
        </h1>
    </div>
</div>
<div class="container">
    <div class="icerikler">
        <h2>
            B|7 Inspection-Quality Assurance and Quality Control from order to shipment
        </h2>
        <p>
            Pre-Shipment Inspecions are a more effective inspection that confirms the whole shipment' s quality level. It normally requires the production to be 100% completed and at least 80% of goods to be packed into cartons.   </p>
        <p>
            The checked samples are randomly selected according to AQL standard. Each product is different and has a wide variety of defects that can occur. Our inspection are performed using specific criteria based on each product's style, function, specifications and other important information.

        </p>
        <h2>The below section and points are cover in a PSI inspection;</h2>
        

        <ul class="iceriktablo">
            <li><span>Quantity</span></li>
            <li>
                <span>
                    Packing
                </span>
            </li>
            <li>
                <span>Marking&Labeling</span>
            </li>
            <li>
                <span>
                    On-Site Tests
                </span>
            </li>
            <li>
                <span>
                    Client Special Requirements
                </span>
            </li>
            <li>
                <span>Product Specification * </span>
            </li>
        </ul> 
        <br class="clearfix" />
        <p>(* If necessary, we could on-site check metal material grade with portable Analyzer/ XRF machine)</p>
        <h3>
            Why you need a Pre-Shipment Inspection?
        </h3>
            An independend third party conduct PreShipment inspection helps to you to verfy your order has been finished successfully before it is dispatched.<br />
            <ul>
                <li>Ensure that your order was finished successfully, before shipment</li>
                <li>Verify quality at the factory and reject all defective products</li>
                <li>Guarantee that supplier has met PO or ISO standards specifications</li>
                <li>Prevent loss from import risk</li>
                <li>Avoid returns from customers and protect your brand image</li>

            </ul>
        <br class="clearfix" />
        <a href="mailto:info@b7inspection.com"> For more details on your specific Pre-Shipment Inspection needs, please contact us( Click Here )</a>
    </div>
    


</div>