@{
    ViewData["Title"] = "Sigorta İşlemleri";
    Layout = "_Layout";
}
<div class="pageHead">
    <img src="~/tema/images/sigortaislemleri.png" />
</div>
<div class="container">
    <div class="page">
        <h1>Sigorta İşlemleri</h1>
        <p>
            Seçtiğiniz araç hangisi olursa olsun, zorunlu trafik sigortası ve kasko teklifi hazırlanarak, en uygun ve en kapsamlı poliçeler tarafınıza sunulur. Size ise sadece teklif edilenler arasından en avantajlı olanını seçmek ve güvenle yola çıkmak kalır.</p>

    </div>
</div>