@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Third Party Inspection/Third Party Supervision";
}

<div class="icbaslikark">

    <div class="container">
        <h1 class="isbasklk">
            Third Party Inspection/Third Party Supervision
        </h1>
    </div>
</div>
<div class="container">
    <div class="icerikler">
        <h2>
            B|7 Inspection-Quality Assurance and Quality Control from order to shipment
        </h2>
        <p>
            For the important or time sensitive production, such as Oil&Gas equipment/Production line/ enginering vehicle/ special equipment, B|7 Inspection's inspector can set up a team and stay at the factory throughout the production for weeks or months. While onsite our inspector will constantly supervision/ monitor the production FAT inspection, confirm schedule, supervise the factory' s internal quality control, conduct random inspections of raw materials, semi-finished or finished products, witness to the non-destructive tests and destructive tests, witness to the paint tests and send a detailed report to you every day.
        </p>
        <h3>
            The following sections and points are covered during Third Party Inspection/Third Party Supervision/FAT
        </h3>
        <ul class="iceriktablo">
            <li><span>Quantity</span></li>
            <li>
                <span>Welding / Workmanship</span>
            </li>
            <li>
                <span>On-Site Tests/ Factory Accaptance Test/ FAT Service</span>
            </li>
            <li>
                <span>Production Specification</span>
            </li>
            <li>
                <span>Packing</span>
            </li>
            <li>
                <span>Marking&Labeling</span>
            </li>
            <li>
                <span>Expediting</span>
            </li>
            <li>
                <span>Client Special Requirement</span>
            </li>
            <li>
                <span>Welding Inspector/NDE Inspector</span>
            </li>
            <li>
                <span>Semi-finished product Check</span>
            </li>
            <li>
                <span>Raw Materials Check</span>
            </li>
            <li>
                <span>Production Schedule</span>
            </li>
            <li>
                <span>Daily Reports</span>

            </li>
            <li>
                <span>Shipment Loading Supervision</span>
            </li>
           
        </ul> <br class="clearfix" />
        <h3>
            B|7 Inspection Services offers manufacturing and construction inspection to ensure that our client's projects are fully compliant with design.
            
        </h3>
        <a href="mailto:info@b7inspection.com"> For more details on your specific Production Monitoring needs, please contact us( Click Here )</a>
    </div>
    


</div>