@{
    ViewBag.Title = "Araç Ekle";
    Layout = "_Admin";
}

<div class="row">
    <form name="AddAdvert" id="AddCarForm" action="AddAdvert" method="post" class="col s12 m10 l12 productform">
        <div class="row">
            <div>
                <p>
                    <label>
                        <input type="checkbox" name="Showcase" />
                        <span>Vitrinde Gözüksün mü?</span>
                    </label>
                </p>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Markası</label>
                <select name="CarBrand" class="browser-default" asp-items="@ViewBag.CarBrand" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Modeli</label>
                <select name="CarModel" class="browser-default" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Donanım</label>
                <select name="Equipment" class="browser-default" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Vites Çeşidi</label>
                <select name="Gear" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Otomatik</option>
                    <option value="1">Vitesli</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Yakıt Türü</label>
                <select name="Fuel" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Dizel</option>
                    <option value="1">Benzin</option>
                    <option value="2">Elektrik</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Rengi</label>
                <select name="Color" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Siyah</option>
                    <option value="1">Beyaz</option>
                    <option value="2">Kırmızı</option>
                    <option value="3">Sarı</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Kasa Tipi</label>
                <select name="CaseType" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Hatchback</option>
                    <option value="1">Sedan</option>
                </select>
                <br class="clearfix" />
            </div>
            <br class="clearfix" />
            <div class="input-field">
                <label for="first_name">Yıl</label>
                <input type="number" name="Year" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">KM</label>
                <input type="number" name="Km" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Max Hız</label>
                <input type="number" name="MaxSpeed" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Max Tork</label>
                <input type="number" name="Tork" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">0-100 Kaç Sn?</label>
                <input type="number" name="To0100" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Boş Ağırlık</label>
                <input type="number" name="EmptyWeight" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Yakıt Tüketimi</label>
                <input type="text" name="FuelConsumption" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Silindir Hacmi</label>
                <input type="number" name="CylinderVolume" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Silindir Adedi</label>
                <input type="number" name="CylinderNumber" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Supap Adedi</label>
                <input type="number" name="ValveNumber" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Aktarma Türü</label>
                <input type="text" name="TypeOfTransfer" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Motor Gücü</label>
                <input type="text" name="EnginePower" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Fiyatı</label>
                <input type="number" name="Price" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field uzn">
                <label for="first_name">Ürün Resimleri </label>
                <div class="dropzndis">
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="fas fa-upload"></i>
                            <p>Yükleyeceğiniz fotoğrafları sürükleyin veya tıklayıp seçin.</p>
                        </div>
                        <input id="Files" type="file" name="img_logo" class="dropzone" multiple />
                        <div class="row">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                        </div>
                    </div>
                    <ul class="table" id="ListofFiles">
                    </ul>
                </div>
                <br class="clearfix" />
            </div>
            <h2>Ekspertiz</h2>
            <div class="expert">
                <img src="~/tema/images/car.png" />
            </div>
            <div class="input-field ">
                <label for="first_name"> </label>
                <input type="submit" value="Otomobil Ekle" name="AddCarButton" class="btn btn-primary mr-2" />
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/admintema/js/jquery.validate.min.js"></script>
    <script src="~/admintema/js/ckeditor.js"></script>
    <script src="~/admintema/js/jquery.maskmoney.min.js"></script>
    <script src="~/admintema/cstmjs/productjs.js"></script>

    <script type="text/javascript">
        //$(".table li").sortable({
        //    appendTo: document.body
        //});
        $(document).on("sortable",".table li",{
            start: function (event, ui) {
                var start_pos = ui.item.index();
                ui.item.data('start_pos', start_pos);
            },
            change: function (event, ui) {
                var start_pos = ui.item.data('start_pos');
                var index = ui.placeholder.index();
                if (start_pos < index) {
                    $('.table li:nth-child(' + index + ')').addClass('highlights');
                } else {
                    $('.table li:eq(' + (index + 1) + ')').addClass('highlights');
                }
            },
            update: function (event, ui) {
                $('.table li').removeClass('highlights');
            }
        });
        

        $("[name='CarBrand']").change(function () {

            var id = $(this).val();

            fetch("Getmodels/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='CarModel']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='CarModel']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })
        $("[name='CarModel']").change(function () {

            var id = $(this).val();

            fetch("GetEquipment/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='Equipment']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='Equipment']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })
    </script>
}