@{
    ViewBag.Title = "Donanım Ekle";
    Layout = "_Admin";
}
<div class="row">
    <form name="AddEquipment" id="AddEquipmentForm" action="AddEquipment" method="post" class="col s12 m10 l12 productform">
        <div class="row">
            <div class="input-field">
                <label for="first_name">Araç Markası</label>
                <select name="CarBrand" class="browser-default" asp-items="@ViewBag.CarBrand" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Modeli</label>
                <select name="CarModel" class="browser-default" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Donanım Adı</label>
                <input type="text" name="Name" class="browser-default" />
            </div>
            <br class="clearfix" />
            <div class="input-field ">
                <label for="first_name"> </label>
                <input type="submit" value="Donanım Ekle" name="AddEquipmentButton" class="btn btn-primary mr-2" />
            </div>
        </div>
    </form>
</div>
@section Scripts{

    <script type="text/javascript">

        $("[name='CarBrand']").change(function () {

            var id = $(this).val();

            fetch("Getmodels/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='CarModel']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='CarModel']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })

    </script>
    <script src="~/admintema/js/jquery.validate.min.js"></script>
    <script src="~/admintema/js/ckeditor.js"></script>
    <script src="~/admintema/js/jquery.maskmoney.min.js"></script>
}