@{
    ViewBag.Title = "Araç Ekle";
    Layout = "_Admin";
}

<div class="row">
    <form name="AddAdvert" id="AddCarForm" action="AddAdvert" method="post" class="col s12 m10 l12 productform">
        <div class="row">
            <div>
                <p>
                    <label>
                        <input type="checkbox" name="Showcase" />
                        <span>Vitrinde Gözüksün mü?</span>
                    </label>
                </p>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Markası</label>
                <select name="CarBrand" class="browser-default" asp-items="@ViewBag.CarBrand" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Araç Modeli</label>
                <select name="CarModel" class="browser-default" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Donanım</label>
                <select name="Equipment" class="browser-default" required>
                    <option value="">Seçiniz</option>
                </select>
                <br class="clearfix" />
            </div>
            <div class="input-field">
                <label for="first_name">Vites Çeşidi</label>
                <select name="Gear" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Otomatik</option>
                    <option value="1">Vitesli</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Yakıt Türü</label>
                <select name="Fuel" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Dizel</option>
                    <option value="1">Benzin</option>
                    <option value="2">Elektrik</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Rengi</label>
                <select name="Color" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Siyah</option>
                    <option value="1">Beyaz</option>
                    <option value="2">Kırmızı</option>
                    <option value="3">Sarı</option>
                </select>
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Kasa Tipi</label>
                <select name="CaseType" class="browser-default" required>
                    <option value="">Seçiniz</option>
                    <option value="0">Hatchback</option>
                    <option value="1">Sedan</option>
                </select>
                <br class="clearfix" />
            </div>
            <br class="clearfix" />
            <div class="input-field">
                <label for="first_name">Yıl</label>
                <input type="number" name="Year" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">KM</label>
                <input type="number" name="Km" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Max Hız</label>
                <input type="number" name="MaxSpeed" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Max Tork</label>
                <input type="number" name="Tork" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">0-100 Kaç Sn?</label>
                <input type="number" name="To0100" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Boş Ağırlık</label>
                <input type="number" name="EmptyWeight" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Yakıt Tüketimi</label>
                <input type="text" name="FuelConsumption" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Silindir Hacmi</label>
                <input type="number" name="CylinderVolume" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Silindir Adedi</label>
                <input type="number" name="CylinderNumber" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Supap Adedi</label>
                <input type="number" name="ValveNumber" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Aktarma Türü</label>
                <input type="text" name="TypeOfTransfer" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Motor Gücü</label>
                <input type="text" name="EnginePower" class="browser-default" required />
                <br class="clearfix" />
            </div>

            <div class="input-field">
                <label for="first_name">Fiyatı</label>
                <input type="text" name="Price" class="browser-default" data-affixes-stay="true" data-thousands="." data-decimal="," required />
                <br class="clearfix" />
            </div>
            <input type="hidden" name="OnTampon" value="+" />
            <input type="hidden" name="OnSagCamurluk" value="+" />
            <input type="hidden" name="OnSolCamurluk" value="+" />
            <input type="hidden" name="Kaput" value="+" />
            <input type="hidden" name="OnSagKapi" value="+" />
            <input type="hidden" name="OnSolKapi" value="+" />
            <input type="hidden" name="ArkaSagKapi" value="+" />
            <input type="hidden" name="ArkaSolKapi" value="+" />
            <input type="hidden" name="Tavan" value="+" />
            <input type="hidden" name="ArkaSolCamurluk" value="+" />
            <input type="hidden" name="ArkaSagCamurluk" value="+" />
            <input type="hidden" name="BagajKapagi" value="+" />
            <input type="hidden" name="ArkaTampon" value="+" />
            <div class="input-field uzn">
                <label for="first_name">Ürün Resimleri </label>
                <div class="dropzndis">
                    <div class="dropzone-wrapper">
                        <div class="dropzone-desc">
                            <i class="fas fa-upload"></i>
                            <p>Yükleyeceğiniz fotoğrafları sürükleyin veya tıklayıp seçin.</p>
                        </div>
                        <input id="Files" type="file" name="img_logo" class="dropzone" multiple />
                        <div class="row">
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                        </div>
                    </div>
                    <ul class="table" id="ListofFiles">
                    </ul>
                </div>
                <br class="clearfix" />
            </div>
            <h2>Ekspertiz</h2>
            <ul class="expertInfo">
                <li><span>L.</span> Lokal Boyalı</li>
                <li><span>H.</span> Hasarlı</li>
                <li><span>B.</span> Boyalı</li>
                <li><span>D.</span> Değişen</li>
                <li><span>E.</span> Ezik</li>
                <li><span>Ç.</span> Çizik</li>
            </ul>
            <div class="expert">
                <div class="carBlock">
                    <div id="OnTampon">+</div>
                    <div id="OnSagCamurluk">+</div>
                    <div id="OnSolCamurluk">+</div>
                    <div id="Kaput">+</div>
                    <div id="OnSagKapi">+</div>
                    <div id="OnSolKapi">+</div>
                    <div id="ArkaSagKapi">+</div>
                    <div id="ArkaSolKapi">+</div>
                    <div id="Tavan">+</div>
                    <div id="ArkaSolCamurluk">+</div>
                    <div id="ArkaSagCamurluk">+</div>
                    <div id="BagajKapagi">+</div>
                    <div id="ArkaTampon">+</div>
                </div>
                <img src="~/tema/images/car.png" />
            </div>
            <div class="input-field ">
                <label for="first_name"> </label>
                <input type="submit" value="Otomobil Ekle" name="AddCarButton" class="btn btn-primary mr-2" />
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/admintema/js/jquery.validate.min.js"></script>
    <script src="~/admintema/js/ckeditor.js"></script>
    <script src="~/admintema/js/jquery.maskmoney.min.js"></script>

    <script type="text/javascript">
        //$(".table li").sortable({
        //    appendTo: document.body
        //});

        $(function () {
            $("[name='Price']").maskMoney();
        })

        $(".carBlock div").click(function(){
        
            $(this).addClass("redBack");

            var htm = $(this).html();
            var divId = $(this).attr("id");

            if(htm == "+"){
                $(this).html("L");
            }else if(htm == "L"){
                $(this).html("H");
            }else if (htm == "H") {
                $(this).html("B");
            }else if (htm == "B") {
                $(this).html("D");
            }else if (htm == "D") {
                $(this).html("E");
            }else if (htm == "E") {
                $(this).html("Ç");
            }else if (htm == "Ç") {
                $(this).html("+");
                $(this).removeClass("redBack");
            }

            var newHtm = $(this).html();
            $("[name='" + divId + "']").val(newHtm);
        
        })

        $(document).on("sortable",".table li",{
            start: function (event, ui) {
                var start_pos = ui.item.index();
                ui.item.data('start_pos', start_pos);
            },
            change: function (event, ui) {
                var start_pos = ui.item.data('start_pos');
                var index = ui.placeholder.index();
                if (start_pos < index) {
                    $('.table li:nth-child(' + index + ')').addClass('highlights');
                } else {
                    $('.table li:eq(' + (index + 1) + ')').addClass('highlights');
                }
            },
            update: function (event, ui) {
                $('.table li').removeClass('highlights');
            }
        });
        

        $("[name='CarBrand']").change(function () {

            var id = $(this).val();

            fetch("Getmodels/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='CarModel']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='CarModel']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })
        $("[name='CarModel']").change(function () {

            var id = $(this).val();

            fetch("GetEquipment/" + id, {
                method: "post"
            })
                .then(r => r.json())
                .then(r => {

                    $("[name='Equipment']").html("<option value=''>Seçiniz</option>");

                    $.each(r, function (i, index) {

                        $("[name='Equipment']").append($('<option>', {
                            value: index.id,
                            text: index.name
                        }));

                    });

                })


        })

        $(".dropzone").change(function () {
            var ext = $('#Files').val().split('.').pop().toLowerCase();

            if (ext != 'jpg' && ext != 'jpeg' && ext != 'tif' && ext != 'pjp' && ext != 'pjpeg' && ext != 'webp' && ext != 'tiff' && ext != 'png' && ext != 'svg' && ext != 'svgz' && ext != 'gif' && ext != 'ico' && ext != 'xbm' && ext != 'dib') {
                alert("Bu alana sadece fotoğraf dosyaları yüklenebilir.");
            } else {
                readFile(this);
            }
        });

        $('.dropzone-wrapper').on('dragover', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).addClass('dragover');
        });

        $('.dropzone-wrapper').on('dragleave', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).removeClass('dragover');
        });


        function readFile(input) {
            if (input.files && input.files[0]) {

                var files = input.files;
                // Create FormData object
                var fileData = new FormData();
                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                $.ajax({

                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = ((evt.loaded / evt.total) * 100);
                                $(".progress-bar").width(percentComplete + '%');
                                $(".progress-bar").html(parseInt(percentComplete) + '%');
                            }
                        }, false);
                        return xhr;
                    },

                    url: '../Admin/UploadHandler',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    cache: false,
                    data: fileData,
                    multiple: true,
                    acceptFileTypes: '',
                    async: true,

                    beforeSend: function () {
                        $(".progress-bar").width('0%');
                        $('#uploadStatus').html('<img src="~/images/loading.gif"/>');
                    },

                    success: function (result) {
                        if (result != "") {
                            $(".progress-bar").width('0%');
                            $('#FileBrowse').find("*").prop("disabled", true);
                            $(".progress-bar").html("");
                            UploadGetir(result); //calling UploadFiles function to load the progress bar.
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            }
        }

        function UploadGetir(result) {

            let filenameler = result.split('/');

            for (let i = 0; i < filenameler.length; i++) {

                let filenam = filenameler[i].split('/');
                let fileClass = filenam[0].split('.');

                if (filenameler[i] != "") {

                    var number = i + 1;

                    var tur = "<img src='../tema/images/upload/" + filenam[0] + "' width=\"100\" />";
                    var liste = "<li id=" + number + " ><div id='fotoDisDiv' class=" + fileClass[0] + "><div id='fotoDiv'><span>" + tur + "</span></div><a class=\"silBtnFoto\" id=" + filenameler[i] + " onclick='DeleteFile(\"" + filenam[0] + "\")'></a></div></li>"; // Binding the file name;
                    $("#ListofFiles").append(liste);

                }
            }
            $('#Files').val('');
            $('#FileBrowse').find("*").prop("disabled", false);
        }

        function DeleteFile(FileName) {

            $.ajax({
                url: 'UploadHandler?deleteImage=' + FileName,
                type: "POST",
                success: function (FileName) {
                    let filenam = FileName.split('.');
                    $("." + filenam[0]).addClass("dispnone");
                }
            });

        }

    </script>
}