@model List<Advert>
@{
    ViewBag.Title = "Araç Modeli Listele";
    Layout = "_Admin";
}
<table id="data-table" class="table is-striped hover display">
    <thead>
        <tr>
            <th>Model Adı</th>
            <th>Yakıt</th>
            <th>Vites</th>
            <th>Renk</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advert in Model)
        {
            <tr>
                <td>@advert.CarModel.CarBrand.Name @advert.CarModel.Name</td>
                <td>
                    @if (advert.Fuel == 0)
                    {
                        @:Dizel
                    }
                    else if (advert.Fuel == 1)
                    {
                        @:Benzinli
                    }else
                    {
                        @:Elektrikli
                    }
                </td>
                <td>
                    @if (advert.Gear == 0)
                    {
                        @:Otomatik
                    }
                    else if (advert.Fuel == 1)
                    {
                        @:Vitesli
                    }
                </td>
                <td>
                    @if (advert.Color == "0")
                    {
                        @:Siyah
                    }
                    else if (advert.Color == "1")
                    {
                        @:Beyaz
                    }
                    else if (advert.Color == "2")
                    {
                        @:Kırmızı
                    }else if (advert.Color == "3")
                    {
                        @:Sarı
                    }
                </td>
                <td><a href="UpdateToCar/@advert.Id">Düzenle</a></td>
                <td><a href="DeleteToCar/@advert.Id" onclick="return confirmRemove();">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>
        function confirmRemove(){

        var setConfirm = confirm("Bu aracı silmek istediğinden emin misin?");

        return setConfirm;

        }
    </script>

}