<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ÖZKINACI OTOMOTİV</title>
    <link rel="icon" href="~/tema/images/favicon/favicon.ico" type="image/x-icon" />
    <link href="~/tema/css/materialize.css" rel="stylesheet" />
    <link href="~/tema/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/tema/css/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="~/tema/css/icons.css" rel="stylesheet" />
    <link href="~/admintema/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/tema/css/ffancobox.css" rel="stylesheet" />
</head>
<body>
    <div class="headerust">
        <div class="container">
            <a href="tel:902163054090" class="sag"><span class="icon-phone2"></span> 0 (216) 305 40 90</a><a href="mail:info@ozkinaci.com.tr" class="sag"> <span class="icon-mail"></span>info@ozkinaci.com.tr</a>
            <br class="clearfix" />
        </div>
    </div>
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    @{
        string inHeader = "";
        string url = Context.Request.Path;
        if (url != "/")
        {
            inHeader = "inHeader";
        }
    }

    <header class="@inHeader">
        <div class="container">
            <a href="~/"><img class="logo" src="~/tema/images/logo.jpg" /></a>
            <div class="headersag">
                <div class="hdust">
                </div>
                <br class="clearfix" />
                <div id="slide-out" class="sidenav">
                    <ul class="collapsible">
                        <li><a href="/" class="menua">ANASAYFA</a></li>
                        <li><a href="~/kullanilmis-otomobiller">KULLANILMIŞ OTOMOBİLLER</a></li>
                        <li class='drop'>
                            <a class="collapsible-header oa"><span>HİZMETLERİMİZ</span><span class="arrow-down"></span></a>
                            <ul class="collapsible-body">
                                <li><a href="~/otomobil-degerleme">Otomobil Değerleme</a></li>
                                <li><a href="~/guvenli-alim-satim">Güvenli Alım Satım</a></li>
                                <li><a href="~/detayli-expertiz">Detaylı Ekspertiz</a></li>
                                <li><a href="~/oto-bakim-servisi">Oto Bakım Servisi</a></li>
                                <li><a href="~/finansman-kredi">Finansman / Kredi</a></li>
                                <li><a href="~/sigorta-islemleri">Sigorta İşlemleri</a></li>
                            </ul>
                        </li>
                        <li class='drop'>
                            <a class="collapsible-header oa">
                                <span>KURUMSAL</span><span class="arrow-down"></span>
                            </a>
                            <ul class="collapsible-body">
                                <li><a href="~/hakkimizda">Hakkımızda</a></li>
                                <li><a href="#">Genel Politika ve Sertifikalar</a></li>

                            </ul>
                        </li>
                        <li><a href="~/iletisim" class="menua">İLETİŞİM</a></li>

                    </ul>
                </div>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <span></span><span></span><span></span>
                </a>
            </div>
            <br class="clearfix" />
        </div>
    </header>
    @RenderBody()


    <footer class="border-top  text-muted">
        <div class="footer">
            <div class="container">
                <ul class="footsol">
                    <li><img src="~/tema/images/flogo.png" width="250" /></li>
                    <li><h3>İLETİŞİM DETAYLARI</h3></li>
                    <li><i class="fa-solid fa-phone"></i>Telephone: <a href="tel:902163054090"> 0 (216) 305 40 90</a> </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i><a href="https://www.google.com/maps?ll=40.935744%2C29.142349&z=16&t=m&hl=tr&gl=TR&mapclient=embed&q=Vi%C5%9Fne+Sk.+No%3A10+Z%C3%BCmr%C3%BCtevler+34852+Maltepe%2F%C4%B0stanbul" target="_blank"> Zümrütevler, Vişne Sk. No:10, 34852 Maltepe /İstanbul</a>
                    </li>
                    <li><i class="fa-solid fa-mobile-screen"></i>GSM:<a href="tel:+905324655448"> +90 532 465 54 48</a></li>
                    <li><i class="fa-solid fa-envelope"></i>Mail:<a href="mailto:info@ozkinaci.com.tr"> info@ozkinaci.com.tr</a></li>

                </ul>
                <ul class="footsol orta">
                    <li><h3>HİZMETLERİMİZ</h3></li>
                    <li><a href="~/kullanilmis-otomobiller">Kullanılmış Otomobiller</a></li>
                    <li><a href="~/otomobil-degerleme">Otomobil Değerleme</a></li>
                    <li><a href="~/guvenli-alim-satim">Güvenli Alım Satım</a></li>
                    <li><a href="~/detayli-expertiz">Detaylı Ekspertiz</a></li>
                    <li><a href="~/oto-bakim-servisi">Oto Bakım Servisi</a></li>
                    <li><a href="~/finansman-kredi">Finansman / Kredi</a></li>
                    <li><a href="~/sigorta-islemleri">Sigorta İşlemleri</a></li>
                </ul>
                <ul class="footsol sag">
                    <li><a href="~/">ANASAYFA</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="~/iletisim">İLETİŞİM</a></li>
                    <li><a href="#" class="social"><span class="icon-facebook2"></span></a> <a href="#" class="social"><span class="icon-instagram"></span></a> </li>

                </ul>
                <br class="clearfix" />
            </div>

        </div>
        <div class="footeralt">
            <div class="container">
                &copy; 2023 - Özkınacı

                <a href="https://www.bycmedia.com/" class="footerlink" target="_blank" alt="Web Design"><img src="~/tema/images/byc.png" /></a>
            </div>

        </div>
    </footer>

    <script src="~/tema/js/jquery-3.6.3.min.js"></script>
    <script src="~/tema/js/materialize.min.js"></script>
    <script src="~/tema/js/owl.carousel.min.js"></script>
    <script src="~/admintema/js/jquery.datatables.min.js"></script>
    <script src="~/admintema/js/datatables.rowreorder.min.js"></script>
    <script src="~/admintema/js/datatables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@fancyapps/ui@@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
            $('.sidenav').sidenav();
            if ($(window).width() > 780) {
                $(".oa").removeClass('collapsible-header');
            }
            else {
                $(".oa").addClass('collapsible-header');
            }

            $('.preloader-background').delay(0).fadeOut('slow');
            $('.preloader-wrapper').delay(0).fadeOut();
        });
        $(window).resize(function () {
            if ($(window).width() > 780) {
                $(".oa").removeClass('collapsible-header');
            }
            else {
                $(".oa").addClass('collapsible-header');
            }
        });
        $(".drop").hover(
            function () {
                if ($(this).find("ul").hasClass("menuacik")) {
                    $(".karart2").removeClass("gorun");
                    $(this).find("ul").removeClass("menuacik");
                } else {
                    $(this).find("ul").addClass("menuacik");
                    $(".karart2").addClass("gorun");
                }
            }
        );
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
